<div class="menu-inicial">
    <div><img class="imgMenu" src="/assets/menu.png" onclick="document.getElementById('menumodal').style.display='block'"></div>
    <div><input type="text"></div>
    <div><button onclick="document.getElementById('loginmodal').style.display='block'">Login</button></div>
    <div><img class="imgCarrinho" src="/assets/carrinhopreto.png" alt=""  onclick="document.getElementById('carrinhomodal').style.display='block'"></div>
</div>

<div id="carrinhomodal" class="modal-pgfull">
    <div class="carrinho-modal-conteudo">
        <span onclick="document.getElementById('carrinhomodal').style.display='none'" class="close">&times;</span>
        Dsdasda
    </div>
</div>

<div id="menumodal" class="modal-pgfull">
    <div class="menu-modal-conteudo">
        <span onclick="document.getElementById('menumodal').style.display='none'" class="close">&times;</span>
        DD
    </div>
</div>

