

.containerGeral{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
    left: 15%;
    flex-wrap: wrap;
    flex-direction: column;
}   




.modalContainerAdicionar{
    z-index: 1;
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0,0.4);
    top: 0;
    left: 0;
    display: none;
}

.containerParaCadaProduto{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgb(43, 43, 43);
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

.txtProdutoContainer{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Define o número de linhas desejado */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    line-height: 1.5em;
    height: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.containerParaCadaProdutoIMG{
    width: 250px;
    height: 100px;
}

.containerCheckboxCategoria{
    width: 200px;
    height: 120px;
    overflow: auto;
}

.modalAdicionar{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modalAdicionar2{
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
}

.tipoImg{
    width: 215px;
    height: 100%;
}

.modalAdicionar div{
    margin: 5px;
}

.modalAdicionar div input {
    text-align: center;
}