<div class="containerGeral">
    <div>
        <h1>Menu de Categorias</h1>
    </div>
    <div>
        <div>
            <button
                onclick="document.getElementById('modalAdicionarContainer').style.display='block'">Adicionar</button>
        </div>
    </div>


    <div class="containerListCategorias">
        <div *ngFor="let item of categoriasCadastradas">
            <div class="itemCategoria"
                *ngIf="categoriasCadastradas.indexOf(item) >= minNUm && categoriasCadastradas.indexOf(item) <=  maxNum">
                <div>
                    Id - {{item.id}}
                </div>
                <div class="textoItemCategoria">
                    Nome - {{item.nome}}
                </div>
                <div class="textoItemCategoria">
                    Descrição - {{item.descricao}}
                </div>
                <div style="display : flex; flex-direction: row; justify-content: center;">
                    <div>
                        <button (click)="deleteCategoria(item.id)">Excluir</button>
                    </div>
                    <div>
                        <button (click)="updateCategoriaModal(item)" >Editar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display : flex; flex-direction: row; justify-content: center;">
        <div *ngFor="let item of numPaginas">
            <button (click)="mudarValoresMinMax(item)">{{item}}</button>
        </div>
    </div>
</div>

<div id="modalAdicionarContainer" class="modalAdicionarContainer" hidden="true">
    <div class="modalAdicionar">
        <form action="" [formGroup]="formCategoria">
            <div>
                <input type="text" placeholder="Nome da Categoria" style="text-align: center;" formControlName="nome">
            </div>
            <div>
                <input type="text" placeholder="Descrição da Categoria" style="text-align: center;"
                    formControlName="descricao">
            </div>
            <div style="display: flex;justify-content: center;">
                <button (click)="postCategoria()">Cadastrar</button>
                <button
                    onclick="document.getElementById('modalAdicionarContainer').style.display='none'">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<div id="modalUpdateContainer" class="modalAdicionarContainer" hidden="true">
    <div class="modalAdicionar">
        <form action="" [formGroup]="formCategoriaUpdate">
            <div style="text-align: center;">
                <input type="number" value="{{this.idCategoriaUpdate}}" formControlName="id">
            </div>
            <div>
                <input type="text" style="text-align: center;" formControlName="nome" value="{{this.nomeCategoriaUpdate}}">
            </div>
            <div>
                <input type="text" style="text-align: center; " 
                    formControlName="descricao" value="{{this.descricaoCategoriaUpdate}}">

            </div>
            <div style="display: flex;justify-content: center;">
                <button (click)="updateCategoria()">Editar</button>
                <button
                    onclick="document.getElementById('modalUpdateContainer').style.display='none'">Cancelar</button>
            </div>
        </form>
    </div>
</div>