<div class="flex-container">
    <div class="content-box">
      <div><img class="content-img" src="https://www.mcsmemoria.com.br/image/cache/catalog/gamer_gamer/memoria_gamer/memoria-8gb-hyperx-fury-black-3200mhz-kingston-hx432c18fb2-8-228x228.jpg" alt=""></div>
        <div>Descricao carrinhodsdsd asdsda sdasdsad asdas</div>
       <div class="preco-carrinho">
        <p>R$ 2500</p>
        <img class="carrinho" src="/assets/carrinhopreto.png" alt=""></div>
    </div>
    <div class="content-box">
      <div><img class="content-img" src="https://www.mcsmemoria.com.br/image/cache/catalog/gamer_gamer/memoria_gamer/memoria-8gb-hyperx-fury-black-3200mhz-kingston-hx432c18fb2-8-228x228.jpg" alt=""></div>
        <div>Descricao carrinhodsdsd asdsda sdasdsad asdas</div>
       <div class="preco-carrinho">
        <p>R$ 2500</p>
        <img class="carrinho" src="/assets/carrinhopreto.png" alt=""></div>
    </div>
    <div class="content-box">
      <div><img class="content-img" src="https://www.mcsmemoria.com.br/image/cache/catalog/gamer_gamer/memoria_gamer/memoria-8gb-hyperx-fury-black-3200mhz-kingston-hx432c18fb2-8-228x228.jpg" alt=""></div>
        <div>Descricao carrinhodsdsd asdsda sdasdsad asdas</div>
       <div class="preco-carrinho">
        <p>R$ 2500</p>
        <img class="carrinho" src="/assets/carrinhopreto.png" alt=""></div>
    </div>
    <div class="content-box">
      <div><img class="content-img" src="https://www.mcsmemoria.com.br/image/cache/catalog/gamer_gamer/memoria_gamer/memoria-8gb-hyperx-fury-black-3200mhz-kingston-hx432c18fb2-8-228x228.jpg" alt=""></div>
        <div>Descricao carrinhodsdsd asdsda sdasdsad asdas</div>
       <div class="preco-carrinho">
        <p>R$ 2500</p>
        <img class="carrinho" src="/assets/carrinhopreto.png" alt=""></div>
    </div>
    <div class="content-box">
      <div><img class="content-img" src="https://www.mcsmemoria.com.br/image/cache/catalog/gamer_gamer/memoria_gamer/memoria-8gb-hyperx-fury-black-3200mhz-kingston-hx432c18fb2-8-228x228.jpg" alt=""></div>
        <div>Descricao carrinhodsdsd asdsda sdasdsad asdas</div>
       <div class="preco-carrinho">
        <p>R$ 2500</p>
        <img class="carrinho" src="/assets/carrinhopreto.png" alt=""></div>
    </div>
    <div class="content-box">
      <div><img class="content-img" src="https://www.mcsmemoria.com.br/image/cache/catalog/gamer_gamer/memoria_gamer/memoria-8gb-hyperx-fury-black-3200mhz-kingston-hx432c18fb2-8-228x228.jpg" alt=""></div>
        <div>Descricao carrinhodsdsd asdsda sdasdsad asdas</div>
       <div class="preco-carrinho">
        <p>R$ 2500</p>
        <img class="carrinho" src="/assets/carrinhopreto.png" alt=""></div>
    </div>
    <div class="content-box">
      <div><img class="content-img" src="https://www.mcsmemoria.com.br/image/cache/catalog/gamer_gamer/memoria_gamer/memoria-8gb-hyperx-fury-black-3200mhz-kingston-hx432c18fb2-8-228x228.jpg" alt=""></div>
        <div>Descricao carrinhodsdsd asdsda sdasdsad asdas</div>
       <div class="preco-carrinho">
        <p>R$ 2500</p>
        <img class="carrinho" src="/assets/carrinhopreto.png" alt=""></div>
    </div>
    <div class="content-box">
      <div><img class="content-img" src="https://www.mcsmemoria.com.br/image/cache/catalog/gamer_gamer/memoria_gamer/memoria-8gb-hyperx-fury-black-3200mhz-kingston-hx432c18fb2-8-228x228.jpg" alt=""></div>
        <div>Descricao carrinhodsdsd asdsda sdasdsad asdas</div>
       <div class="preco-carrinho">
        <p>R$ 2500</p>
        <img class="carrinho" src="/assets/carrinhopreto.png" alt=""></div>
    </div>
    <div class="content-box">
      <div><img class="content-img" src="https://www.mcsmemoria.com.br/image/cache/catalog/gamer_gamer/memoria_gamer/memoria-8gb-hyperx-fury-black-3200mhz-kingston-hx432c18fb2-8-228x228.jpg" alt=""></div>
        <div>Descricao carrinhodsdsd asdsda sdasdsad asdas</div>
       <div class="preco-carrinho">
        <p>R$ 2500</p>
        <img class="carrinho" src="/assets/carrinhopreto.png" alt=""></div>
    </div>
    <div class="content-box">
      <div><img class="content-img" src="https://www.mcsmemoria.com.br/image/cache/catalog/gamer_gamer/memoria_gamer/memoria-8gb-hyperx-fury-black-3200mhz-kingston-hx432c18fb2-8-228x228.jpg" alt=""></div>
        <div>Descricao carrinhodsdsd asdsda sdasdsad asdas</div>
       <div class="preco-carrinho">
        <p>R$ 2500</p>
        <img class="carrinho" src="/assets/carrinhopreto.png" alt=""></div>
    </div>
    <div class="content-box">
      <div><img class="content-img" src="https://www.mcsmemoria.com.br/image/cache/catalog/gamer_gamer/memoria_gamer/memoria-8gb-hyperx-fury-black-3200mhz-kingston-hx432c18fb2-8-228x228.jpg" alt=""></div>
        <div>Descricao carrinhodsdsd asdsda sdasdsad asdas</div>
       <div class="preco-carrinho">
        <p>R$ 2500</p>
        <img class="carrinho" src="/assets/carrinhopreto.png" alt=""></div>
    </div>
    <div class="content-box">
      <div><img class="content-img" src="https://www.mcsmemoria.com.br/image/cache/catalog/gamer_gamer/memoria_gamer/memoria-8gb-hyperx-fury-black-3200mhz-kingston-hx432c18fb2-8-228x228.jpg" alt=""></div>
        <div>Descricao carrinhodsdsd asdsda sdasdsad asdas</div>
       <div class="preco-carrinho">
        <p>R$ 2500</p>
        <img class="carrinho" src="/assets/carrinhopreto.png" alt=""></div>
    </div>
</div>


<div id="itemListFiltroModal" class="itemListFiltroModal">
 
</div>
