.login-modal-pg{
    display: flex;
    position: absolute;
    width: 50%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.imgZenitsu{
    position: relative;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-34%,-120%);
}

.img-hidden{
    width: 20px;
    right: 7px;
    top: 3px;
    height: 20px;
    position: absolute;
    cursor: pointer;
 }

.divBotoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input{
    width: 250px;
    border-radius: 5px;
    text-align: center;
    height: 20px;
}

div{
    position: relative;
    height: 30px;
}

.erroInput{
    border: 1px solid rgb(226, 61, 61);
}